{% load static %}

<!DOCTYPE html> <!-- Стандартная херня, чтобы показать браузеру какую версию html юзаем -->

<html lang="en"> <!-- Указываем какой язык используем. Т.к. В разных языках разные особенности -->

<!-- начинаем писать head странички -->
<head>
    <!-- Мета инфа. тут записываем всякие метрики, мета инфу и собственно всё что связано с заголовком -->
    <meta charset="UTF-8"> <!-- Кодировка символов. Utf-8 - универсальная кодировка, пиздатая вещь -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Мета тег X-UA-Compatible указывает версию IE(браузеров microsoft IE)
         (в данном случае edge)-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!--viewport отвечает за "оптимизацию под разные размеры устройств
        width=device-width - указывает браузеру, что нужна ширина области просмотра такая же, как и ширина экрана
        initial-scale=1.0 - устанавливает начальный масштаб страницы. В данном случае 1, т.е. 100%.
        -->

    <title>Сайты на тильде, которе убеждают и продают</title> <!-- Заголовок нашей странички -->

    <!-- Подключили css. Лайфхак: пишем link. Появляется link с гаечным ключиком. Жмём enter и ХУЯК не надо самому писать. -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap" rel="stylesheet">



</head>

<body> 
    <header class="wrapper__header">
        <p class=" header__frame header__frame__text texts_normal flexes_4-8">
            Developer
        </p>


        <nav class="header__navigate">

            <fieldset class="navigate__list flexes_0">
                <a href="#works" class="navigate__list__item"> Работы</a>
            
            
                <a href="#services" class="navigate__list__item"> Услуги</a>
            
                <a  href="#process" class="navigate__list__item"> Процесс</a>
            
                <a href="#about" class="navigate__list__item"> Обо мне</a>

                <a href="#contacts" class="navigate__list__item"> Контакты</a>
            </fieldset>

        </nav>

        <div class="wrapper_programmer wrapper_photos">
            <object type="image/svg+xml" data="{% static '\img\👨🏻_💻.svg' %}" class="header__photo">
            </object>
        </div>


    </header>

    <main>
        <div class="wrapper__main">
            <section class="introduction">
                <div class="wrapper">

                    <h1 class="introduction__title titles_black">
                        Сайты на Тильде, которые <br>
                        Убеждают и продают
                    </h1>

                </div>

                <p class="introduction__what-we-do texts_normal_pale">
                    Изучаем ваш бизнес. Узнаём, что важно клиентам,<br>
                как вызывать доверие и довести до заявки или покупки
                </p>
            
                <fieldset class="introduction__frames">
                
                        <a class ="contact_text texts_normal frames_contact buttons_black" href="https://t.me/Qwerty64511">
                            Связаться в Telegram
                        </a>                    
                        
                        <a class="frames_video buttons_white video_text texts_normal" href="https://www.youtube.com/">
                            <img src="{% static '\img\Polygon 1.svg' %}" alt="" class="frames_triangle"></img>
                            Видеопортфолио
                        </a>
                
                </fieldset>
                
                <div class="wrapper_chat wrapper_photos">
                    <img src="{% static '\img\💬.svg' %}" alt="" class="frames_chat"></img>
                </div>

                <div class="wrapper_lightning wrapper_photos">
                    <img src="{% static '\img\⚡️.svg' %}" alt="" class="frames_lightning"></img>
                </div>
            
            </section>
        </div>
        
        <section class="works">
            <nav class="works__navigation">
                <button class="frames_black navigation__buttons__flex texts_normal all_text" data-filter="all">
                    Все
                </button>
                
                <button class="button_order frames_white navigation__buttons__flex texts_normal color_black" data-filter="order">
                    Сайты под ключ
                    
                </button>
                
                <button class="button_development frames_white navigation__buttons__flex texts_normal color_black" data-filter="development">
                    Разработка
                </button>
                
                <button class="button_design frames_white navigation__buttons__flex texts_normal color_black" data-filter="design">
                    Дизайн
                </button>

            </nav>
        </section>

        <div class="works__photos photos__frames" id="works">
            <img class="photos photos_order photos_big" 
            data-filter="order" src="{% static '/img/Rectangle_13.png' %}"></img>
            
            <div class="photos_small photos_mini flexes_0">
                <img class="photos photos_development radio photos_mini-1 flexes_0" 
                data-filter="design" src="{% static '/img/Rectangle 14.png' %}"></img>
                <img class="photos photos_development mini_photo-2 photos_mini-1 flexes_0"
                 data-filter="development" src="{% static '/img/Rectangle 15.png' %}"></img>

            </div>

            <img class="photos photos_design photos_example-2 photos_big" 
            data-filter="design" src="{% static '/img/Rectangle 16.png' %}"></img>
            
            <div class="photos_small-2 photos_mini flexes_0">
                <img class="photos photos_development mini_photo-3 photos_mini flexes_0"
                 data-filter="development" src="{% static '/img/Rectangle 17.png' %}"></img>
                <img class="photos photos_development photos_mini flexes_0" data-filter="order" src="{% static '/img/Rectangle 18.png' %}"></img> 
            </div>

        </div>

        <section class="about" id="about">
            <div class="wrapper__about">
                <img class="my-photo" src="{% static '/img/my_photo.jpg' %}"></img>

                <div class="about__texts">
                
                    <h2 class="about__header titles_little">Student & Developer</h2>
                    <p class="about__text texts_normal_pale">Меня зовут Матвей. За 3 года плотного обучения,<br> я получил бесценные навыки<br>
                        и стал готов к максимально плотной работе<br>
                        <br>
                        Запустил относительно успешный стартап, выучил 2 языка программирования, стал руководителем социологического исследования,<br>
                        окончил школу в 15 лет. <br>В 16 лет(спустя 2 месяца после выпуска) поступил в ВШЭ.<br>
                        Сейчас уверен в своих силах и нацелен на развитие</p>
                    
                    <div class="about__frames">
                    
                        <fieldset class="frame_sites">
                            <p class="sites_value texts_about-values">3+</p>
                            <p class="sites_value_text texts_normal_pale">Ботов запустил</p>
                        </fieldset>

                        <fieldset class="frame_deadlines">
                            <p class="deadlines_procent texts_about-values">100%</p>
                            <p class="deadlines_text texts_normal_pale">Довольных пользователей</p>
                        </fieldset>

                        <fieldset class="frame_experience">
                            <p class="experience_years texts_about-values">4+</p>
                            <p class="experience_text texts_normal_pale">Лет кодинга</p>
                        </fieldset>
                    
                    </div>
                </div>

                <div class="wrapper_achievment wrapper_photos">
                    <img src="{% static '/img/🏆️.svg' %}" alt="" class="frames_achievment"></img>
                </div>
            </div>
        </section>

        <section class="services" id="services">
            <h3 class="services__titles titles_little">Услуги</h3>
                <div class="wrapper__services">
                    {% for i in services %}

                        {% if servicesCount == 2 %}
                            <div class="services__list_two">

                        {% elif servicesCount == 1 %}
                            <div class="services__list_one">
                            
                        
                        {% elif servicesCount == 5 %}
                            <div class="services__list_five">

                        {% else %}
                            <div class="services__list">
                    
                        {% endif %}

                                <div class="list">
                                    <div class="markup">
                                        <fieldset class="list_title list_main-title">
                                            <p class="list_number list_numbers">{{forloop.counter}}</p>
                                            <h4 class="list_service list_titles">{{i.nameOfservice}}</h4>
                                        </fieldset>
                                    

                                        <p class="list_text texts_normal_pale"> {{i.texts}}</p>
                                    
                                
                                        <line class="services__lines"></line>
                                        <h4 class="services__cost texts_about-values">{{i.costs}}</h4>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section>

        <section class="order order__flex" id="order">

            <div class="wrapper_proger wrapper_photos">
                <object type="image/svg+xml" data="{% static '\img\👨🏻_💻.svg' %}" class="photo_proger">
                </object>
            </div>

            <div class="obertka_timer wrapper_photos">
                <img src="{% static '\img\⏱️.svg' %}" class="photo_time">
            </div>
            <h2 class="order__title titles_little">Подсчёт стоимости</h2>

            
            <form id="forms__cost" method="post">
                <fieldset class="order__choose order__flex">
                    {% csrf_token %}

                    <fieldset class="choose__wrapper">
                        {{ form_result.TypeOfWork }}

                    </fieldset>

                    <fieldset class="choose__wrapper">
                        {{ form_result.HowBig}}
                    </fieldset>

                    <fieldset class="choose__checker flexes_0">
                        <input type="checkbox" class="choose_checkbox" id="checkbox"></input>
                        
                        <p class="checkbox_pos texts_normal_pale"> 
                            Да, я слышал про осеннюю школу.<br>
                            Интересно а после нее будет егэ? 
                        </p>

                    </fieldset>
                    
                    <fieldset class="order__calculate flex_15-24-17">
                        
                        <button class="calculation texts_normal" type="submit">
                            Рассчитать стоимость
                        </button>
                    
                    </fieldset>
                </fieldset>
            </form>

            <fieldset class="calculate__finally invisible">
                <h2 class="final_text titles_little">Примерный подсчёт:</h2>
                
                <fieldset class="final_cost">
                
                    <p class="cost_text texts_normal_pale">Стоимость <span id="span_first"></span></p>
                    <!-- <p class="cost_value texts_about-values">От 120 000$</p> -->
                </fieldset>

                <fieldset class="final_deadlines">
                    
                    <p class="deadlines_text texts_normal_pale">Примерные сроки <span id="span_second"></span></p>
                </fieldset>

                <fieldset class="final_contact">
                    <fieldset class="contact_wrapper flex_15-24-17">
                        <button class="contact_button texts_normal flex_15-24-17">
                            Обсудить проект
                        </button>
                    </fieldset>
                </fieldset>

            </fieldset>
        </section>

        <section class="questions">

            <h1 class="questions__title titles_little">Вопрос-Ответ</h1> <!-- Объединить этот заголовок в общий класс, чтобы сократить место-->
            <fieldset class="questions__box">

                <fieldset class="question_design question_based">
                    <p class="question_based__text texts_about-values">Делаете только Дизайн?</p>
                    <img src="{% static '\img\Vector.svg' %}" alt="" class="plus_1 plus">
                </fieldset>
                
                <fieldset class="question_tilda question_based">
                    <p class="question_based__text texts_about-values">
                        Почему тильда?
                    </p>
                    <img src="{% static '\img\Vector.svg' %}" alt="" class="plus_6 plus">

                    <section class="tilda_text invisible">
                        <p class="question__text texts_normal_pale">
                            Тильда уже давно перестала быть просто конструктором.
                            <br> Сейчас на платформе разрабатывают<br>
                            уникальные лендинги и даже небольшие интернет магазины.
                            <br> 
                            <br>
                            А ещё:
                        </p>

                        <ul>
                            <li class="question_answers_answer texts_normal_pale"> Не нужен программист, тильдой легко управлять </li>
                            <li class="question_answers_answer texts_normal_pale">  Многие делают сайты именно на тильде. Например сбер, яндекс, и тд </li>
                            <br>
                            <li class="question_answers_answer texts_normal_pale"> Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm) </li>
                            <br>
                            <li class="question_answers_answer texts_normal_pale"> Адекватные цены тарифов </li>

                        </ul>
                    </section>

                </fieldset>
                
                <fieldset class="question_deadlines question_based">
                    <p class="question_based__text texts_about-values">Какие сроки?</p>
                    <img src="{% static '\img\Vector.svg' %}" alt="" class="plus_2 plus">
                </fieldset>

                <fieldset class="question_order question_based ">
                    <p class="question_based__text texts_about-values">Как происходит оплата?</p>
                    <img src="{% static '\img\Vector.svg' %}" alt="" class="plus_3 plus">
                </fieldset>

                <fieldset class="question_fixes question_based">
                    <p class="question_based__text texts_about-values">Сколько правок можно внести?</p>
                    <img src="{% static '\img\Vector.svg' %}" alt="" class="plus_4 plus">
                </fieldset>

                <fieldset class="question_projects question_based">
                    <p class="question_based__text texts_about-values">Работаете со срочными проектами?</p>
                    <img src="{% static '\img\Vector.svg' %}" alt="" class="plus_5 plus">
                </fieldset>
            </fieldset>
        </section>
    
        <div class="wrapper_lightning-2 wrapper_photos">
            <img src="{% static '\img\⚡️.svg' %}" alt="" class="frames_lightning"></img>
        </div>
        
        <div class="wrapper_proger-2 wrapper_photos">
            <object type="image/svg+xml" data="{% static '\img\👨🏻_💻.svg' %}" class="photo_proger">
            </object>
        </div>

        <div class="wrapper_chat-2 wrapper_photos">
            <img src="{% static '\img\💬.svg' %}" alt="" class="frames_chat-2"></img>
        </div>

        <div class="contact" id = 'contact'>
            <h1 class="buy__title titles_little">оставьте заявку</h1>
            <p class="buy__appeal texts_about-values">Я сам напишу вам, и сообщу все детали</p>
            
        
            <fieldset class="frame_buy order__flex">
                <fieldset class="frame_buy_inputs_wrapper buy__flex">

                    <form class="frame_buy_inputs buy__flex" action="" method="post">
                        
                        {% csrf_token %}
                        {{ form.name }}
                        {{ form.mail }}
                        {{ form.service }}
                        {{ form.comment }}

                        <span>{{ error }}</span>
                        <!-- <label for="buy_name">Имя</label>
                        <input class="buy_defult_inputs" type="text" name="buy_name" placeholder="Имя"
                        value="{{ current_name }}"></input>

                        <label for="buy_mail">Почта</label>
                        <input class="buy_defult_inputs" placeholder="Почта" name="buy_mail"
                        value="{{ current_mail }}"> </input>
                        
                        <label for="buy_service">Услуга</label>
                        <input class="buy_defult_inputs" placeholder="Услуга" name="buy_service"
                        value="{{ current_service }}"> </input>
                        
                        <label for="buy_comment">Оставьте комментарий к заказу</label>
                        <input class="buy_big_input" placeholder="Комментарий" name="buy_comment"
                        value="{{ current_comment }}"> </input> -->
                        

                        <button class="frame_buy_contact" type="submit">
                            <p class="button_text texts_normal"> Отправить сообщение </p>
                        </button>
        

                    </form>
                </fieldset>

                <!-- <img src="src\img\vk.svg" class="image_vk">
                <img src="src\img\twitter.svg" class="image_twitter">
                <img src="src\img\fb.svg" class="image_fb"> -->

            </fieldset>
        </div>
    </main>

    <script src="{% static '/js/script.js' %}"></script>
</body>