.titles_black {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.titles_pomenshe {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #181818;
}

.texts_about-values {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texts_normal_blednie {    
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.texts_normal {
    font-family: 'segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.obertka_photos {    
    background: #F1F1F1;
    border-radius: 10000px;
}

.photos {
    text-align: center;
}

.buttons_black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttons_white {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;

    border: 2px solid #181818;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frames_black {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    width: 62px;
    height: 32px;

    background: #181818;
    border-radius: 10000px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frames_white {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    width: 146px;
    height: 32px;

    border: 1px solid #000000;
    border-radius: 10000px;

    flex: none;
    order: 1;
    flex-grow: 0;
}


.inputs_obertka {
    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.inputs_default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    background: #FFFFFF;
}

.question__frame {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;

    width: 1160px;
    height: 88px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}