.body {
    position: relative;
    width: 1440px;
    height: 7648px;

    background: #FFFFFF;
}
.titles_black {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.titles_little {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #181818;
}

.texts_about-values {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.texts_normal_pale {    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #181818;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texts_normal {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.wrapper_photos {  
    background: #F1F1F1;
    border-radius: 10000px;
}

.photos {
    text-align: center;
}

.buttons_black {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttons_white {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;

    border: 2px solid #181818;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.frames_black {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 4px 16px; */
    gap: 8px;

    background: #181818;
    border-radius: 10000px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frames_white {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 4px 16px; */
    gap: 8px;
    
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10000px;

    flex: none;
    order: 1;
    flex-grow: 0;
}


.inputs_wrapper {
    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.inputs_default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    background: #FFFFFF;
}

.question__frame {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;

    width: 1160px;
    height: 88px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.flexes_4-8 {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
}

.flexes_0 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
}

/* конец шаблонов */


.header__frame__text {
    width: 93px;
    height: 24px;

    text-transform: uppercase;

    color: #000000;

}

.header__frame {
    position: absolute;

    width: 109px;
    height: 32px;
    left: 140px;
    top: 38px;
    border: 2px solid #000000;
    border-radius: 8px;
}

.navigate__list {
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
    border: 0 none;


    /* margin: 0 auto; */
}

.navigate__list__item {
    
    text-decoration: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    color: #000000;



    flex: none;
    order: 4;
    flex-grow: 0;
    }

.header__photo {
    position: absolute;

    width: 110px;
    height: 110px;
    top: 26px;
    left: 30px;


    font-weight: 500;
    font-size: 110px;
    line-height: 110px;
    text-align: center;

    color: #000000;
}

.wrapper_programmer {
    position: absolute;

    width: 170px;
    height: 170px;
    right: 50px;
    top: 50px;
}

.wrapper_chat {
    position: absolute;

    width: 64px;
    height: 64px;
    left: 209px;
    top: 362px;

    text-align: center;
}

.frames_chat {
    position: absolute;

    width: 28px;
    height: 24px;
    left: 18px;
    top: 20px;

    text-align: center;
}

/* .introduction__title {
    /* position: absolute; */

    /* width: 804px;
    height: 128px; */
    /* left: 318px;
    top: 184px; */

    /* text-align: center; */


.introduction__what-we-do {
    /* position: absolute; */
    text-decoration: none;

    width: 484px;
    height: 48px;
    margin: 0 auto;
    top: 372px;

    text-align: center; 

    color: #000000; 
}

.introduction__frames {
    display: flex;
    flex-direction: row;
    gap: 16px;

    /* position: absolute; */
    width: 496px;
    height: 56px;
    margin: 0 auto;
    /* top: 480px; */
    
    border: 0 none;
    
}

.frames_contact {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 215px;
    height: 56px;
   

    background: #181818;
}

.frames_lightning {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    
    text-align: center;
}

.wrapper_lightning {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1171px;
    top: 450px;

    text-align: center;
}

.frames_triangle {
    box-sizing: border-box;

    display: flex;
    width: 24px;
    height: 24px;
    transform-box: rotate(90deg);
}

.contact_text {
    text-align: center;
    text-decoration: none;

    width: 167px;
    height: 24px;

    color: #FFFFFF;
}

.video_text {
    background-color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    
    width: 137px;
    height: 24px;
    color: #181818;    
}

.frames_video {
    width: 215px;
    height: 56px;
    background-color: white;
}

.design_text {
    width: 59px;
    height: 24px;

    order: 0;
    color: #181818;
}
.navigation__buttons__flex {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    gap: 8px;

}

.invisible {
    display: none;
}

.button_design {
    box-sizing: border-box;

    width: 91px;
    height: 32px;
    order: 3;
}

.button_development {
    box-sizing: border-box;

    width:123px;
    height: 32px;
    order: 2;
}

.button_web-sites {
    box-sizing: border-box;

    width: 110px;
    height: 27px;

    background-color: white;
}

.button_order {
    box-sizing: border-box;

    width: auto;
    height: 32px;
    
    order: 1;
}

.development_text {
    color: #181818;
}

.all_text {
    color: #FFFFFF;
    text-align: center;
}

.color_black {
    color:  black;
}

.button_all {
    width: 62px;
    height: 32px;
    order: 0;
    flex: none;
    flex-grow: 0;
    color: #FFFFFF;
}

.works__navigation {
    gap: 17px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 17px;

    width: 473px;
    height: 32px;
    margin-left: 30%;    
}

.photos__frames {
    gap: 40px;
}

.works__photos {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1160px;
    height: 1984px;
    left: 140px;
    top: 728px;
}

.photos_big {
    height: 460px;
    width: 1160px;

    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.photos_order {
    order: 0;
}

.photos_small {
    width: 1160px;
    height: 400px;
}

.photos_mini-1 {
    width: 560px;
    height: 400px;

    flex: none;
    order: 1;
    flex-grow: 0;

    gap: 40px;

    box-sizing: border-box;

    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-repeat: no-repeat;
}
.photos_mini {
    width: 560px;
    height: 460px;

    flex: none;
    order: 1;
    flex-grow: 0;

    gap: 40px;

    box-sizing: border-box;

    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-repeat: no-repeat;

}

.radio {
}

.mini_photo-2 {

    background: #151515;
}

.photos_example-2 {
    width: 1160px;
    height: 544px;

    order: 2;
}

.mini_photo-3 {
    border: 1px solid #DBDBDB;
}

.photos_mini-2 {
    gap: 40px;
    border-radius: 20px;
    box-sizing: border-box;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0
}

.photos_small-2 {
    order: 3;
    width: 1160px;
    height: 460px;
}

.mini_photo-4 {
    width: 560px;
    height: 460px;

    border: 1px solid #DBDBDB;
}

.my-photo {
    /* position: absolute; */
    display: flex;
    width: 440px;
    height: 560px;

    order: 0;
    border-radius: 24px;
}

.about__header {
    /* position: absolute; */
    display: flex;

    width: 645px;
    height: 64px;
    /* left: 740px; */
    /* top: 2812px; */
}

.about__text {
    /* position: absolute; */
    display: flex;
    width: 484px;
    height: 168px;

    order: 0;
    color: #000000;
    }

.frame_sites {
    border: 0 none;

    width: 79px;
    height: 88px;
}

.sites_value {
    width: 41px;
    height: 24px;
}

.sites_value_text {
    width: 79px;
    height: 48px;
}

.frame_deadlines {
    border: 0 none;

    width: 87px;
    height: 88px;
    }

.deadlines_procent {
    width: 63px;
    height: 24px;
}

.deadlines_text {
    width: 87px;
    height: 48px;
}

.frame_experience {    
    border: 0 none;

    width: 46px;
    height: 88px;
}

.experience_years {
    width: 38px;
    height: 24px;
}

.experience_text {
    width: 46px;
    height: 48px;
}

.wrapper_achievment {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 227px;
    top: 3280px;
}



.frames_achievment {
    position: absolute;

    width: 40px;
    height: 41px;
    left: 30px;
    top: 34px;

    text-align: center;
    }

.wrapper__services {
    display: inline-block;
}

.services {
    display: flex;

    flex-direction: column;
    width: 1440px;
    height: auto;

    background: #181818;
}

.services__titles {
    color: white;

    margin: 0 auto;
    width: 156px;
    height: 64px;
}

.services__list {
    display: inline-block;

    width: 300px;
    padding: 14px 28px;
    gap: 28px;

    margin-left: 75px;
}

.services__list_two {
    display: inline-block;

    width: 340px;
    padding: 14px 28px;
    gap: 28px;

    margin-left: 125px;
}

.services__list_one {
    display: inline-block;

    width: 340px;
    padding: 14px 28px;
    gap: 28px;

    margin: 0 auto;
}

.services__list_five {
    display: inline-block;

    width: 300px;
    padding: 14px 28px;
    gap: 28px;
}

.list {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;

    width: 310px;
    height: 360px;
    
    background: #FFFFFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.markup {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding: 0px;
    gap: 56px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.list_markup {
    width: 288px;
    height: 304px;
}

.list_main-title {
    border: 0 none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.list_title {
    width: 288px;
    height: 56px;
}

.list_numbers {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;

    opacity: 0.5;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    border: 0 none;
}

.list_number {
    width: 288px;
    height: 24px;
    top: 20px;
    
}

.list_titles {
    position: absolute;

    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #181818;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.list_service {
    width: 288px;
    height: 24px;
}


.list_text {
    width: 288px;
    height: 96px;
    margin-top: -10px;

}

.services__cost {
    width: 288px;
    height: 24px;

    margin-top: -30px;
}

.services__lines {
    display: flex;
    width: 80px;
    height: 0px;
    margin-top: 30px;
    gap: 0;
    padding: 0;
    opacity: 0.2;
    border: 1px solid #181818;
    background-color: #181818;
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}


.order__flex {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    padding: 40px 24px;
    gap: 8px;

    background: #FFFFFF;
    border-radius: 16px;

}

.order {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 1000px;

    background: #FFFFFF;
    border: 0 none;
    border-radius: 16px;
}

.order__title {
    display: flex;
    width: 446px;
    height: 64px;
    margin-left: 50%;
    
    flex: none;
}

.order__choose {
    width: 448px;
    height: 368px;

    margin-left: 50%;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    background: #FFFFFF;

    border: 0 none;

    flex: none;
    flex-grow: 0;
}

.choose__wrapper {
    width: 400px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* .obertka_jobs_menu > .jobs_menu > li:hover {
    display: inherit;

}
.jobs_menu {
    display: none;
    position: absolute;
    top: 100%;
} */

.choose_type-of-job {
    position: absolute;
    width: 400px;

    padding-left: 10px;
    padding-top: 5px;
}

.choose_how-hard {
    position: absolute;
    width: 400px;

    opacity: 0.5;

    padding-left: 10px;
    padding-top: 5px;
}

.choose__checker { 
    gap: 16px;
    
    border: 0 none;
    width: 363px;
    height: 48px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.check-mark {
    box-sizing: border-box;
    position: absolute;

    margin: auto;
    width: 8px;
    height: 4px;
    
}

.choose_checkbox {
    display: flex;

    width: 16px;
    height: 16px;
    left: 46px;
    top: 200px;
}
.checkbox_pos {
    display: flex;
    margin: 0 auto;
}
.order__calculate {
    box-sizing: border-box;

    margin-top: 16px;
    margin-left: 16px;
    gap: 8px;

    width: 400px;
    height: 56px;

    border: 2px solid #181818;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.calculation {
    width: 300px;
    height: 24px;

    border: 0 none;
    /* identical to box height, or 150% */

    background-color: white;
    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.calculate__final {
    width: 400px;
    height: 384px;

    margin-left: 55%;
    margin-top: -9px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 24px;

    background: #FFFFFF;
    border-radius: 16px;


    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}

.final_text {
    width: 318px;
    height: 64px;
    border: 0 none;
    font-size: 32px;

    margin: 0;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.final_cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    border: 0 none;
    width: 120px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.cost_text {
    width: 83px;
    height: 24px;

    color: #181818;
    margin: 0;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cost_value {
    width: 300px;
    height: 24px;

    color: #181818;
    margin: 0;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.final_deadlines {
    border: 0 none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 120px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.deadlines_text {
    width: 141px;
    height: 24px;

    margin: 0;
    color: #181818;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.deadlines_deadline {
    width: 161px;
    height: 24px;
    
    margin: 0;
    font-size: 20px;

    color: #181818;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.final_contact {
    border: 0 none;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 0px 0px;
    gap: 24px;

    justify-content: center;
    width: 352px;
    height: 56px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.contact_wrapper {

    gap: 8px;
    /* margin-top: 20px; */
    width: 300px;
    height: 26px;
    border-color: #181818;
    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.contact_button {
    width: 200px;
    height: 24px;

    border: 0 none;

    background-color: #181818;
    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.list__Type_of_job {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: auto;
}

.questions {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 1473px;
    height: auto;

    background: #181818;
}

.questions__title {
    display: flex;
    margin: 0 auto;

    width: 316px;
    height: 64px;
    
    margin-top: 60px;

    color: #FFFFFF;
}

.questions__box {
    gap: 16px;
    display: flex;
    flex-direction: column;
    border: 0 none;

    margin: 0 auto;
}

.question__flex-32-40 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
}

.question_based {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;

    align-items: center;

    width: 1160px;
    height: 88px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.question_based__text {
    width: 350px;
    height: 24px;

    font-size: 20px;

    color: #181818;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.question_opend {
    width: 1135px;
    height: 400px;

    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.question_answers_answer {
    width: 350px;
    height: 30px;
}

.buy__title {
    display: flex;
    align-self: center;

    width: 371px;
    height: 64px;
}

.buy__appeal {
    display: flex;
    align-self: center;

    width: 391px;
    height: 24px;

    font-size: 20px;
 
    color: #181818;
    order: 0;
}

.frame_buy {
    display: flex;
    width: 448px;
    height: 552px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.frame_buy_inputs_wrapper {
    border: 0 none; 

    gap: 40px;
    width: 400px;
    height: 376px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame_buy_inputs {
    border: 0 none;

    gap: 24px;

    width: 400px;
    height: 376px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buy_defult_inputs {
    width: 400px;
    height: 48px;
    /* #fff white */
    padding-left: 20px;
    background: #FFFFFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.buy_big_input {
    width: 400px;
    height: 160px;
    padding-left: 20px;
    /* #fff white */
    /* text-indent: 200px; */
    background: #FFFFFF;
    border-radius: 8px;
    
    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.frame_buy_contact {
    display: flex;
    
    flex-direction: row;
    align-self: center;
    align-items: center;
    margin: 0 auto;
    padding: 32px 0px 0px;
    gap: 8px;

    width: 300px;
    height: 66px;

    border-radius: 8px;
    background: #181818;

    
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.flex_15-24-17 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-left: 25%;

    width: 624px;
    height: 1000px;
    
}
.contact_buton {
    gap: 8px;

    width: 400px;
    height: 56px;

    background: #181818;
    border-radius: 8px;
}

.button_text {
    width: 178px;
    height: 24px;
    color: #FFFFFF;

    margin: 0 auto;
}

.wrapper_proger {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1200px;
    top: 4655px;
}

.photo_proger {
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}

.obertka_timer {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -361px;
    top: 132px;
}

.photo_time {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
}

.wrapper_lightning-2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 111px;
    top: 6774px;

}

.wrapper_proger-2 {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1252px;
    top: 7156px;
}

.wrapper_chat-2 {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 250px;
    top: 7392px;
}

.frames_chat-2 {
    position: absolute;
    width: 56px;
    height: 44px;
    left: 42px;
    top: 47px;
}

.wrapper_check-mark {
    display: flex;
    width: 12px;
    height: 12px;
    margin-left: auto;
    margin-top: 10px;
    border: 0 none;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.plus {
    display: flex;
    width: 16px;
    height: 16px;

    margin-left: auto;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 1px;

}
.image_fb {
    display: flex;
    left: 500px;
    
}

.image_twitter {
    display: flex;
    left: 500px;
    top:100px;
}

.image_vk {
    display: flex;
    left: 500px;
    top: 150px;
}

.placeholder {
}

.inputs_name {
    border: 0 none;

    width: 33px;
    height: 24px;
    left: 16px;
    top: -62.5px;
    background-color: #FFFFFF;
}

.question__text {
    width: 350px;
}


.wrapper__main {
    width: 1440px;
    height: 576px;

    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    justify-content: center;
}

.about__texts {
    display: flex;
    flex-direction: column;
    width: 360px;
    order: 1;
}

.about__frames {
    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.wrapper__about {
    display: flex;

    gap: 28px;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;

    margin-top: 2188px;
    width: 1440px;
    height: 570px;
}

.red {
    color: green;
    background-color: red;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .navigate__list {
        width: 1440px;
    }

    .order {
        margin-left: 15%;
    }

    .wrapper_photos {
        display: none;  
    }

    .question_opend {
        width: 1134px;
    }

    .questions {
        width: 1440px;
        margin: 0 auto;
    }

    .wrapper__main {
        width: 1440px;
        margin-left: 0%;

    }

    .services {
        width: 1440px;
    }

    .list {
        width: 310px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    
    .wrapper_photos {
        display: none;  
    }
    
    .order {
        margin-left: 50%;
    }
    
    .wrapper__about {
        margin-left: 30%;
    }

    .works__navigation {
        margin-left: 70%;
    }
    /* .order__choose {
        margin-left: 0;
    } */


    .question_opend {
        width: 575px;
        margin-left: 105px;
    }

    .questions {
        width: 1024px;
        margin-left: 50%;
    }

    .question_based {
        width: 600px;
        margin-left: 15%;
    }

    
    .services__list {
        justify-self: flex-start;
    }

    .list {
        width: 250px;
    }

    .services {
        width: 1158px;
        margin-left: 50%;
    }

    .introduction__frames {
        width: 400px;
        margin-left: auto;
    }

    .navigate__list {
        width: 1024px;
    }
    
    .wrapper__main {
        width: 1024px;
        margin-left: 50%;

    }

    .wrapper__header {
        width: 1024px;
        margin-left: 50%;
    }

    .photos_order {
        width: 1024px;
        margin-left: 37%;
    }

    .photos_example-2 {
        width: 1024px;
        margin-left: 37%;
    }

    .photos_development {
        width: 492px;
        margin-left: 23%;
    }

    .photos_mini-2 {
        width: 492px;
        margin-left: 23%;

    }

    .photos_mini {
        width: 492px;
        margin-left: 23%;
    }

    .contact {
        margin-left: 75%;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    .introduction__frames {
        width: 400px;
        margin-left: auto;
    }

    .order {
        margin-left: 40%;
    }

    .wrapper_photos {
        display: none;  
    }
    
    .wrapper__about {
        width: 800px;
        margin-left: 50%;
    }

    .works__navigation {
        margin-left: 70%;
    }
    
    .my-photo {
        height: 560px;
        width: 440px;
    }


    .contact {
        margin-left: 70%;
    }

    .wrapper__header {
        margin-left: 40%;
    }
    .question_opend {
        width: 397px;
        margin-left: 75px;
    }

    .questions {
        width: 800px;
        margin-left: 50%;
    }

    .question_based {
        width: 400px;
        margin-left: 15%;
    }

    .services__list {
        margin-left: 30%;
        flex-direction: column;
    }

    .services {
        width: 935px;
        height: 1668px;
        margin-left: 50%;
    }

    .navigate__list {
        width: 800px;
    }

    .wrapper__main {
        width: 800px;
        margin-left: 50%;

    }

    .head {
        width: 800px;
    }

    .photos_mini-2 {
        width: 380px;
        margin-left: 17%;
    }

    .photos_development {
        width: 380px;
        margin-left: 17%;
    }

    .photos_mini {
        width: 380px;
        margin-left: 17%;

    }

    .photos_order {
        width: 800px;
        margin-left: 27%;
    }
    
    .photos_example-2 {
        width: 800px;
        margin-left: 27%;
}
}

@media (min-width: 480px) and (max-width: 800px) {
    .introduction__frames {
        width: 350px;
        margin-left: auto;
    }

    .wrapper_photos {
        display: none;  
    }
    
    .wrapper__about {
        width: 480px;
        margin-left: 50%;

    }

    .order {
        margin-left: 0 ;
    }
    .contact {
        margin: 50%;
    }
    .question_opend {
        width: 430px;
        margin-left: 20px;
    }

    .question_based {
        width: 400px;

    }

    .questions {
        width: 480px;
        margin-left: 50%;
    }

    .services__list {
        margin-left: 30%;
        flex-direction: column;
    }

    .services {
        width: 1160px;
        height: 1668px;
        margin-left: 50%;
    }

    .navigate__list {
        width: 480px;

    }
    
    .wrapper__main {
        width: 480px;
        margin-left: 50%;
    }

    .wrapper__header {
        width: 480px;
        margin-left: 50%;
    }

    .photos_order {
        width: 480px;
        margin-left: 10%;
    }

    .photos_example-2 {
        width: 480px;
        margin-left: 10%;
    }

    .photos_development {
        width: 220px;
        margin-left: 10%;
    }

    .photos_mini-2 {
        width: 220px;
        margin-left: 10%;
    }

    .photos_mini {
        margin-left: 10%;
        width: 220px;
    }
    }

@media (min-width: 0px) and (max-width: 480px) {
    .questions {
        width: 480px;
        margin-left: 50%;
    }

    .order {
        margin-left: -90%;
    }

    .introduction {
    }

    .introduction__frames {
        margin-left: auto;
    }

    .wrapper_photos {
        display: none;  
    }

    .wrapper__about {
        width: 480px;
        height: 1200px;
        flex-direction: column;
        margin-left: 50%;
    }

    .my-photo {
        height: 560px;
        width: 440px;
    }

    .question_opend {
        width: 280px;
    }

    .question_based {
        margin: 5%;
        width: 280px;
    }

    .navigate__list {
        width: 480px;

    }

    .services {
        width: 480px;
        height: 1668px;
        margin-left: 50%;
        
    }

    .services__list {
        margin-left: 10%;
        flex-direction: column;

    }

    .wrapper__main {
        width: 480px;
        margin-left: 50%;
    }

    .wrapper__header {
        width: 280px;
        margin-left: 50%;
    }
    
    .photos_order {
        width: 480px;
    }

    .photos_example-2 {
        width: 480px;
    }

    .photos_development {
        width: 200px;
    }

    .photos_mini-2 {
        width: 200px;
    }

    .photos_mini {
        width: 200px;
    }
        }
